{% extends "base.html" %}
{% block title %}
ساخت اکانت جدید
{% endblock %}
{% block content %}


<div class="row row-ec">
    <div class="container col-md-6 col-md-offset-3 mt-3 ">
        <div class="card bg-light">
            <div class="card-header">
                ثبت نام
            </div>
            <div class="card-body">
                <form method="post" class="needs-validation">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">نام کاربری :</label> {{ form.username }}
                        <div class="alert alert-danger alert-dismissible fade show d-{{ udisplay|default:'none' }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            نام کاربری انتخاب شده قبلا استفاده شده است.لطفا یک نام کاربری دیگر انتخاب کنید
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_email">ایمیل:</label> {{ form.email }}
                        <div class="alert alert-danger alert-dismissible fade show d-{{ edisplay|default:'none' }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            ایمیل وارد شده قبلا استفاده شده است.اگر این ایمیل متعلق به شماست از صفحه ورود گزینه ی فراموشی پسورد را انتخاب کنید
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_password">رمز عبور:</label> {{ form.password }}
                    </div>
                    <div class="g-recaptcha" data-sitekey="{{site_key}}"></div>
                    <div class="alert alert-danger alert-dismissible fade show d-{{ cdisplay|default:'none' }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        لطفا کپچا رو به درستی وارد کنید
                    </div>
                    <button type="submit" class="btn btn-primary">ثبت نام</button>
                </form>
            </div>
        </div>
    </div>
</div>
  <script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock %}