{% extends "base.html" %}

{% block title %}
فراموشی رمز عبور
{% endblock %}

{% block content %}
<div class="row row-form">
    <div class="container col-md-6 col-md-offset-3 mt-3 ">
        <div class="card bg-light">
            <div class="card-header">
                فراموشی رمز عبور
            </div>
            <div class="card-body">
                <form method="post" class="needs-validation">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_email">ایمیل:</label> {{ form.email }}
                        <div class="alert alert-danger alert-dismissible fade show d-{{ edisplay|default:'none' }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            این ایمیل ثبت نشده است. می توانید از 
                            <a href="{{path}}">اینجا</a>
                            ثبت نام کنید.
                        </div>
                    </div>
                    <div class="g-recaptcha" data-sitekey="{{site_key}}"></div>
                    <div class="alert alert-danger alert-dismissible fade show d-{{ cdisplay|default:'none' }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        لطفا کپچا رو به درستی وارد کنید
                    </div>
                    <button type="submit" class="btn btn-primary">بازنشانی رمز عبور</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js?hl=fa' async defer></script>
{% endblock %}
