{% extends "base.html" %}

{% block title %}
بازیابی رمز عبور
{% endblock %}

{% block content %}
<div class="row row-form">
    <div class="container col-md-6 col-md-offset-3 mt-3 ">
        <div class="card bg-light">
            <div class="card-header">
                بازیابی رمز عبور
            </div>
            <div class="card-body">
                <form method="post" class="needs-validation">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_password">کلمه عبور جدید:</label> {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-primary">بازیابی رمز عبور</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js?hl=fa' async defer></script>
{% endblock %}
