{% extends "base.html" %}

{% block title %}
اکانت ساخته شد
{% endblock %}
{% block content %}
<div class="container card bg bg-light mt-3 d-{{ display1|default:'1' }} " >
    <div class="bg-light card-body text-center  border-black m-5 p-5 text-black">
        <br><h1 class="">
        حساب کاربری شما با موفقیت فعال شد.
        </h1><br>
        شما می توانید از بخش
        <br>
        <a href="{{path}}">
            ورود
        </a>
        وارد حساب خود شوید.
        <br>
    </div>
</div>
<div class="container card bg bg-light mt-3 d-{{ display2|default:'none' }} " >
    <div class="bg-light card-body text-center  border-black m-5 p-5 text-black">
        <br><h1 class="">
        این کد فعالسازی معتبر نیست. در صورت نیاز دوباره تلاش کنید.
        <br>
    </div>
</div>
{% endblock %}