{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static '\\css\\style.css' %}">

  <title>
      {% block title %}
          بورس
      {% endblock %}
  </title>
  {% block head %}
  <style>
    a{
      text-align: center !important;
    }
  </style>
  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="http://localhost:8009/">بورس</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            ثبت اطلاعات جدید
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/add_buy/">خرید جدید</a>        
            <a class="dropdown-item" href="/add_sell/">فروش جدید</a>
            <a class="dropdown-item" href="/add_deposit/">واریز وجه جدید</a>
            <a class="dropdown-item" href="/add_withdraw/">برداشت وجه جدید</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            مشاهده اطلاعات 
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="stats/properties">دارایی</a>
            <a class="dropdown-item" href="stats/buys">خرید ها </a>
            <a class="dropdown-item" href="stats/sells">فروش ها</a>
            <a class="dropdown-item" href="stats/deposits">تاریخچه واریز وجه</a>
            <a class="dropdown-item" href="stats/withdraw">تاریخچه برداشت وجه</a>
          </div>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav mr-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8009/logout/">خروج</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8009/login/">ورود</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8009/register/">ثبت نام</a>
        </li>
      {% endif %}
      </ul>
    </div>
  </nav>
  {% block content %}
    salam
  {% endblock %}
  <footer class="footer page-footer">
    <div class="">
      <p>
        <strong>Bourse</strong> یک پروژهٔ شخصی است.<br>
      </p>
      </div>
  </footer>

</body>
</html>